<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}">

</head>
<body>
	<header>
        <nav>
        	<ul>
	            <li><a th:href="@{/}">Página inicial</a></li>
	            <li><a th:href="@{/controleProjeto}" sec:authorize="hasRole('ROLE_ADMINISTRADOR')">Projetos</a></li>
	            <li><a th:href="@{/controleProfessor}" sec:authorize="hasRole('ROLE_ADMINISTRADOR')">Professores</a></li>
	            <li><a th:href="@{/controleArea}" sec:authorize="hasRole('ROLE_ADMINISTRADOR')">Areas</a></li>
	            <li><a th:href="@{/controleAluno}" sec:authorize="hasRole('ROLE_ADMINISTRADOR')">Alunos</a></li>
				<li><a th:href="@{/professor/abertos}" sec:authorize="hasRole('ROLE_PROFESSOR')">Pedidos abertos</a></li>
			</ul>
            <ul class="direita">
            	<li><a th:href="@{/logout}">Sair</a></li>
            </ul>
        </nav>
    </header>

<div layout:fragment="conteudo"></div>


</body>
</html>