<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <title>Cadastro Professor por Arquivo</title>
</head>
<body>
	<div layout:fragment="conteudo">
    <div class="box">
        <form method="post" action="/controleProfessor/arquivo" enctype="multipart/form-data">
        	<div>
        		<label for="arquivo">Enviar Arquivo</label>
        		<input type="file" name="arquivo" id="arquivo" th:value="${arquivo}">
        	</div>
        	<input type="submit" value="Enviar">
        </form>
    </div>
    </div>
</body>
</html>