<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Página inicial</title>
</head>
<body>
	
	<div layout:fragment="conteudo">
			<table>
    			<thead>
    				<tr>
    					<th>Nome do Projeto</th>
    					<th>Alunos</th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr>
    					<td th:text="${projeto.nome}">
    					<td>
    						<p th:each="aluno : ${projeto.alunos}" th:text="${aluno.nome}"></p>
    					</td>
    				</tr>
    				<tr>
    					<td th:text="${projeto.descricao}" colspan=3>
    				</tr>
    				<tr>
    					<td colspan="3">
    						<form action="/mensagem" method="post">
    							<input type="hidden" id="professor" name="professor" th:value="${professor.id}">
    							<input type="hidden" id="projeto" name="projeto" th:value="${projeto.id}">
    							<input type="text" id="texto" name="texto" th:value="${mensagem?.texto}" style="color: black; margin-left: auto">
    							<input type="submit" value="enviar">
    						</form>
    					</td>
    				</tr>
    			</tbody>
    		</table>
    		<div th:each="mensagem: ${projeto.mensagens}" class="mensagem">
    			<div th:if="${mensagem.professor}!=null" class="mensagem-enviada">
	    			<h3 th:text="${mensagem.professor.nome}" style="color: black;text-align: left; font-weight: bold"></h3>
	    			<p th:text="${mensagem.texto}" style="color: black">
	    			<p th:text="${mensagem.horario}" style="color: black">
    			</div>
    			<div th:if="${mensagem.aluno}!=null" class="mensagem-recebida">
	    			<h3 th:text="${mensagem.aluno.nome}" style="color: black; text-align: right; font-weight: bold"></h3>
	    			<p th:text="${mensagem.texto}" style="color: black">
	    			<p th:text="${mensagem.horario}" style="color: black">
    			</div>
    		</div>
		</div>
</body>
</html>