<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{template.html}">
<head>
    <title>Página inicial</title>
</head>
<body>
	
	<div layout:fragment="conteudo">
		<div th:each="projeto : ${aceitos}">
			<table>
    			<thead>
    				<tr>
    					<th>Nome do Projeto</th>
    					<th>Alunos</th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr>
    					<td th:text="${projeto.nome}">
    					<td>
    						<p th:each="aluno : ${projeto.alunos}" th:text="${aluno.nome}"></p>
    					</td>
    				</tr>
    				<tr>
    					<td th:text="${projeto.descricao}" colspan=3>
    				</tr>
    			</tbody>
    		</table>
		</div>
	</div>
</body>
</html>