<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
      
<head>
    <title>Cadastro professor</title>
</head>
<body>
	<div layout:fragment="conteudo">
    <div class="box">
        <h1>Cadastro professor</h1>
        <form method="post" action="/controleProfessor">
			<input type="hidden" name="_method" value="put" th:if="${professor!= null}">
			<input type="hidden" name="id" th:value="${professor?.id}">
				<div th:if="${professor!= null}">
					<label for="RM"> RM: </label>
					<input type="text" id="RM" name="RM" th:value="${professor?.RM}" readonly required>
				</div>
				<div th:if="${professor!= null}">
					<label for="CPF"> CPF: </label>
		            <input type="text" id="CPF" name="CPF" th:value="${professor?.CPF}" readonly required>
				</div>
				
				<div th:if="${professor== null}">
					<label for="RM"> RM: </label>
		            <input type="text" id="RM" name="RM" th:value="${professor?.RM}" required>
				</div>
				<div th:if="${professor== null}">
					<label for="CPF"> CPF: </label>
			        <input type="text" id="CPF" name="CPF" th:value="${professor?.CPF}" required>
				</div>
			<div>
				<label for="email"> Email: </label>
	            <input type="email" id="email" name="email" th:value="${professor?.email}" required>
			</div>
			<div>
	            <label for="nome"> Nome: </label>
	            <input type="text" id="nome" name="nome" th:value="${professor?.nome}" required>
	        </div>
	        <div>
	            <label for="curso"> Curso: </label>
	            <select id="curso" name="curso" required>
	            	<option th:each="curso: ${cursos}" th:text="${curso}"></option>
	            </select>
	        </div>	 
	        <div>
	        	<label for="areas">Areas</label>
	        	<select multiple id="areas" name="areas" required>
					<option></option>
					<option th:each="area: ${areas}" 
						th:value="${area.id}" 
						th:text="${area.nome}">
						Wireframe
					</option>
				</select>
	        </div>
	        <input type="submit" value="Cadastrar">
        </form>
    </div>
    </div>
</body>
</html>