<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Lista de Alunos </title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1> Lista de Alunos</h1>
    <a href="/aluno/formulario">Novo</a>
    <table>
        <thead>
            <tr>
            	<th>RM</th>
            	<th>CPF</th>
            	<th>email</th>
                <th>Nome</th>
                <th>Turma</th>
                <th>Curso</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="aluno : ${lista}">
            	<td th:text="${aluno.RM}"></td>
            	<td th:text="${aluno.CPF}"></td>
	            <td th:text="${aluno.email}"></td>
				<td th:text="${aluno.nome}"></td>
				<td th:text="${aluno.turma}"></td>
                <td th:text="${aluno.curso}"></td>
                <td>
					<a th:href="@{/aluno/formulario?id={id}(id=${aluno.id})}"><button>Editar</button></a> 
					
					<form action="/aluno" method="post">
						<input type="hidden" name="_method" value="delete">
						<input type="hidden" name="id" th:value="${aluno.id}">
						<input type="submit" value="Excluir">
					</form>
				</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>