<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <title>Cadastro projeto</title>
</head>
<body>
	<div layout:fragment="conteudo">
    <div class="box">
        <h1>Cadastro projeto</h1>
        <form method="post" action="/controleProjeto">
			<input type="hidden" name="_method" value="put" th:if="${projeto!= null}">
			<input type="hidden" name="id" th:value="${projeto?.id}">
			
			<div>
				<label for="nome"> Nome: </label>
	            <input type="text" id="nome" name="nome" th:value="${projeto?.nome}">
	        </div>
	        <div>
	            <label for="descricao"> Descrição: </label>
	            <input type="text" id="descricao" name="descricao" th:value="${projeto?.descricao}">
	        </div>
	        <div>    
	            <label for="professor">Professor</label>
	            <select id="professor" name="professor">
	            	<option></option>
	            	<option th:each="professor:${professores}" 
	            		th:value="${professor.id}" 
	            		th:text="${professor.nome}">
	            		Wireframe
	            	</option>
	            </select>
	        </div>	 
	        <div>    
	            <label for="area">Area</label>
	            <select id="area" name="area">
	            	<option></option>
	            	<option th:each="area:${areas}"
	            		th:value="${area.id}" 
	            		th:text="${area.nome}">
	            		Wireframe
	            	</option>
	            </select>
	        </div>
	        <div>    
	            <label for="alunos">Alunos</label>
	            <select multiple id="alunos" name="alunos">
	            	<option></option>
	            	<option th:each="aluno:${alunos}" 
	            		th:value="${aluno.id}" 
	            		th:text="${aluno.nome}">
	            		Wireframe
	            	</option>
	            </select>
	        </div>
	        <input type="submit" value="Cadastrar">
        </form>
    </div>
    </div>
</body>
</html>