<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Lista de Projetos </title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1> Lista de Projetos</h1>
    <a href="/projeto/formulario">Novo</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Alunos</th>
                <th>Professor orientador</th>
                <th>Área</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="projeto : ${lista}">
				<td th:text="${projeto.nome}"></td>
                <td th:text="${projeto.descricao}"></td>
                <td>
                	<p th:each="aluno: ${projeto.alunos}" th:text="${aluno.nome}"></p>
                </td>
                <td th:text="${projeto.professor.nome}"></td>
                <td th:text="${projeto.area.nome}"></td>
                <td>
					<a th:href="@{/projeto/formulario?id={id}(id=${projeto.id})}"><button>Editar</button></a> 
						
					<form action="/projeto" method="post">
						<input type="hidden" name="_method" value="delete">
						<input type="hidden" name="id" th:value="${projeto.id}">
						<input type="submit" value="Excluir">
					</form>
				</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>