<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}">

</head>
<body>
	<header>
        <nav>
        	<ul>
	            <li><a th:href="@{/}">Página inicial</a></li>
	            <li sec:authorize="hasRole('ROLE_PROFESSOR')"><a th:href="@{/professor/abertos}">Pedidos abertos</a></li>
	            <li sec:authorize="hasRole('ROLE_ADMINISTRADOR')"><a th:href="@{/controleProjeto}">Projetos</a></li>
	            <li sec:authorize="hasRole('ROLE_ADMINISTRADOR')"><a th:href="@{/controleProfessor}">Professores</a></li>
	            <li sec:authorize="hasRole('ROLE_ADMINISTRADOR')"><a th:href="@{/controleArea}">Areas</a></li>
	            <li sec:authorize="hasRole('ROLE_ADMINISTRADOR')"><a th:href="@{/controleAluno}">Alunos</a></li>
			</ul>
            <ul class="direita">
            	<li><a th:href="@{/logout}">Sair</a></li>
            </ul>
        </nav>
    </header>

<div layout:fragment="conteudo"></div>


</body>
</html>