<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Lista de professors </title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1> Lista de professors</h1>
    <a href="/professor/formulario">Novo</a>
    <table>
        <thead>
            <tr>
            	<th>RM</th>
                <th>Nome</th>
                <th>Curso</th>
                <th>Areas</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
	        <tr th:each="professor : ${lista}">
	            <td th:text="${professor.RM}"></td>
				<td th:text="${professor.nome}"></td>
	            <td th:text="${professor.curso}"></td>
	            <td>
	               	<p th:each="area:${professor.areas}" th:text="${area.nome}"></p>
	            </td>
	            <td>
					<a th:href="@{/professor/formulario?id={id}(id=${professor.id})}"><button>Editar</button></a> 
						
					<form action="/professor" method="post">
						<input type="hidden" name="_method" value="delete">
						<input type="hidden" name="id" th:value="${professor.id}">
						<input type="submit" value="Excluir">
					</form>
				</td> 
	        </tr>
        </tbody>
    </table>
</div>
</body>
</html>