<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Template.html}">
<head>
    <title>Página inicial</title>
</head>
<body>

	<div layout:fragment="conteudo">
    	<div th:if="${aluno.projeto}==null">
    		<a th:href="@{/controleProjeto/formulario}"><button>Novo Projeto</button></a>
    	</div>
    	<div th:if="${aluno.projeto}!=null">
    		<table>
    			<thead>
    				<tr>
    					<th>Nome do Projeto</th>
    					<th>Situação</th>
    					<th>Professor</th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr>
    					<td th:text="${aluno.projeto.nome}">
    					<td th:if="${aluno.projeto.aceito}==true">Aceito</td>
    					<td th:if="${aluno.projeto.aceito}==false">Não aceito</td>
    					<td th:text="${aluno.projeto.professor.nome}">
    				</tr>
    				<tr>
    					<td th:text="${aluno.projeto.descricao}" colspan=3>
    				</tr>
    				<tr th:if="${aluno.projeto.aceito}==false">
    					<td>Comentário:</td>
    					<td th:text="${aluno.projeto.comentario}"></td>
    					<td>
    						<a th:href="@{/controleProjeto/formulario?id={id}(id=${aluno.projeto.id})}"><button>Editar</button></a>
    						<form action="/controleProjeto" method="post">
								<input type="hidden" name="_method" value="delete">
								<input type="hidden" name="id" th:value="${aluno.projeto.id}">
								<input type="submit" value="Excluir">
							</form>
    					</td>
    				</tr>
    				<tr>
    					<td colspan="3">
    						<form action="/mensagem" method="post">
    							<input type="hidden" id="aluno" name="aluno" th:value="${aluno.id}">
    							<input type="hidden" id="projeto" name="projeto" th:value="${aluno.projeto.id}">
    							<input type="text" id="texto" name="texto" th:value="${mensagem?.texto}" style="color: black; margin-left: auto">
    							<input type="submit" value="enviar">
    						</form>
    					</td>
    				</tr>
    			</tbody>
    		</table>
    		<div th:each="mensagem: ${aluno.projeto.mensagens}" class="mensagem">
    			<div th:if="${mensagem.professor}!=null" class="mensagem-recebida">
	    			<h3 th:text="${mensagem.professor.nome}" style="color: black;text-align: right; font-weight: bold"></h3>
	    			<p th:text="${mensagem.texto}" style="color: black">
	    			<p th:text="${mensagem.horario}" style="color: black">
    			</div>
    			<div th:if="${mensagem.aluno}!=null" class="mensagem-enviada">
	    			<h3 th:text="${mensagem.aluno.nome}" style="color: black; text-align: left; font-weight: bold"></h3>
	    			<p th:text="${mensagem.texto}" style="color: black">
	    			<p th:text="${mensagem.horario}" style="color: black">
    			</div>
    		</div>
    	</div>
	</div>
</body>
</html>