<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
  <title>Login</title>

</head>
<body>
	<div layout:fragment="conteudo"></div>
		<div class="box">
			<form method="post" action="/login">
				<div>
					<label for="email">E-mail</label>
					<input type="text" id="email" name="email" th:value="${LoginRequest?.email}">
				</div>
				<div>
					<label for="senha">Senha</label>
					<input type="text" id="senha" name="senha" th:value="${LoginRequest?.senha}">
				</div>
				<input type="submit" th:value="Entrar">
			</form>
		</div>



</body>
</html>